In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')
RS = sum(list(map(ord, 'Dale Boca')))

import pandas as pd
pd.option_context('display.max_rows', None, 'display.max_columns', None)
pd.set_option('display.max_colwidth', -1)

import numpy as np
import os;

## Preproceso de datos y Cálculo de la Polaridad

In [2]:
tweets = pd.read_csv('nflx_all_tweets.csv', index_col=0)

In [3]:
tweets.head()

,date,text
35982,2017-11-23,"['9335305708', '6441472', '0', '2017-11-', '23', '00:00', ':', '06', '-', '03', '<YahooFinance>', '‘', 'Scandal', '’', 'creator', '@shondarhimes', ':', 'Why', 'I', 'left', 'ABC', 'for', 'Netflix', 'DIS', 'NFLX', '@JPManga']"
35957,2017-11-23,"['9336824366', '9682585', '6', '2017-11-', '23', '10:03', ':', '34', '-', '03', '<amyhalutao>', 'Netflix', 'Inc', '.', 'NFLX', 'Stock', 'Live', 'Analysis', '05-01-', '2017', '#stock']"
35956,2017-11-23,"['9336825822', '8536524', '9', '2017-11-', '23', '10:04', ':', '09', '-', '03', '<Margare30926081>', 'Netflix', 'NFLX', 'Market', 'Valuation', 'Rose', 'While', 'Parkwood', 'Trimmed', 'by', '2.84', 'Million', 'Its', 'Holding', '...']"
35955,2017-11-23,"['9337016716', '2406912', '6', '2017-11-', '23', '11:20', ':', '00', '-', '03', '<JPDesloges>', '#Netflix', ':', 'Strong', 'Price', 'Compression', 'from', 'a', 'Daily', 'Rising', 'Wedge', '#Technical', '#Pattern', '(', 'red', ')', 'NFLX', '#Trading', '#investing', '#nflx', '#risk', '#stocks', '#technology']"
35954,2017-11-23,"['9337208997', '18610945', '2017-11-', '23', '12:36', ':', '24', '-', '03', '<TheCloudNetwork>', 'VMware', '»', 'Analysts', 'think', 'these', ""stock's"", 'can', 'be', 'a', 'game', 'changer', ':', 'Netflix', ',', 'Inc', '.', ',', '(', 'NASDAQ', ':', 'NFLX', ')', ',', 'Retail', '...', 'via', 'TheCloudNetwork', '☁', '️', '#Opines', 'on', '#VMware']"

In [4]:
tweets['date'] = pd.to_datetime(tweets.date)

In [5]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction import text
extra = []
extra = [e.lower() for e in extra]
stop_words = text.ENGLISH_STOP_WORDS.union(extra)

# stemming resuelve terminaciones y derivaciones de palabras, pero sin una base morfológica
#stemmer    = SnowballStemmer("english") 
# resuelve en base a un diccionario morfológico de las palabras
#lemmatizer = WordNetLemmatizer()

def preprocessing_text(texto):
    # lemmatizer 
    #words = lemmatizer.lemmatize(texto)
    words = word_tokenize(texto)
    words = [w for w in words if (len(w) >= 3) and (w not in stop_words)]
    #words = [stemmer.stem(w) for w in words]
    return words

In [6]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/arturo.torrestey/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [7]:
# inicializo el SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

def vader_sent_analyzer(texto):
    # calculo el compound ratio promedio de la sentences que se encuentran en texto
    # texto viene como una lista de palabras
    pos_val = []
    neg_val = []
    neu_val = []
    for sent in texto:
        ss = sid.polarity_scores(sent)
        pos_val.append(ss['pos'])
        neg_val.append(ss['neg'])
        neu_val.append(ss['neu'])
        
    return (np.mean(pos_val), np.mean(neg_val), np.mean(neu_val))

In [8]:
# Calculo de polaridad
        
# preproceso los datos de la columna texto y defino el vader compound ratio
tweets['tuplas'] = [vader_sent_analyzer(preprocessing_text(t)) for t in tweets.text]
tweets['pos'] = tweets['tuplas'].apply(lambda x: x[0])
tweets['neg'] = tweets['tuplas'].apply(lambda x: x[1])
tweets['neu'] = tweets['tuplas'].apply(lambda x: x[2])

# selecciono las columnas para trabajar
tweets = tweets.loc[:, ['date', 'pos', 'neg', 'neu']]

# agrupo tweets por fecha, promediando los scores de pos, neg y neutros
grouped_tweets = tweets.groupby('date').mean()

## Cálculo de Retornos

In [11]:
# armo el nombre del archivo a leer de los parametros
dir_name = '../data/original'
stock_name = 'NFLX_all_prices.txt'
index_name = 'NDX_all_prices.txt'

stockname  = os.path.join(dir_name, stock_name)
indexname  = os.path.join(dir_name, index_name)

In [12]:
# leo los archivos y le cambio los nombres a las columnas
stk = pd.read_csv(stockname, usecols=['Date', 'Adj Close'])
ind = pd.read_csv(indexname,usecols=['Date', 'Adj Close'])
stk.columns = ['date', 'nflx']
ind.columns = ['date', 'ndx']

In [13]:
# mergeo los df con los precios de la acción y el índice
data = pd.merge(stk, ind, on='date')

In [14]:
# paso la fecha a formato datetime
data['date'] = pd.to_datetime(data.date)

In [15]:
# armo un df con el total de los días en el rango de fechas de los archivos provistos
dias_totales = pd.DataFrame(pd.date_range(data.date.min(), data.date.max(), freq='D'), columns=['date'])

In [16]:
# mergeo para buscar los días sin valor en precios (fin de semana y feriados)
data = pd.merge(dias_totales, data, on='date', how='left')

In [17]:
# interpolo los nans con función cuadrática
data = data.interpolate(method='quadratic')

In [18]:
# calculo el retorno logarítmico
data['log_ret nflx'] = np.log(data.nflx / data.nflx.shift(1))
data['log_ret ndx']  = np.log(data.ndx / data.ndx.shift(1))
data['exc_ret']      = (data['log_ret nflx'] - data['log_ret ndx']) > 0
data['exc_ret%']     = data['log_ret nflx'] - data['log_ret ndx']

In [19]:
# armo el df para retornar con la fecha y el excess return de la acción eliminando
# la primera observación (sin retorno calculado)
grouped_returns = data.loc[1: , ['date', 'exc_ret', 'exc_ret%']]

In [20]:
grouped_returns.head()

        date  exc_ret  exc_ret%
1 2017-11-28  True     0.018367
2 2017-11-29  False   -0.039507
3 2017-11-30  False   -0.011582
4 2017-12-01  True     0.000300
5 2017-12-02  False   -0.000404

## Merger de los Tweets y Retornos

In [21]:
dataset = pd.merge(grouped_tweets, grouped_returns, on='date', how='left')

In [22]:
dataset = dataset.dropna(subset=['exc_ret'])

In [23]:
dataset.head()

          date       pos       neg       neu exc_ret  exc_ret%
5   2017-11-28  0.022810  0.006758  0.970431  True    0.018367
6   2017-11-29  0.023162  0.008170  0.968667  False  -0.039507
7   2017-11-30  0.029453  0.012274  0.958273  False  -0.011582
8   2017-12-01  0.031694  0.010390  0.957916  True    0.000300
9   2017-12-02  0.023691  0.010626  0.965683  False  -0.000404
10  2017-12-03  0.028253  0.010410  0.961337  False  -0.001904
11  2017-12-04  0.011154  0.005097  0.983748  False  -0.000913
12  2017-12-05  0.036138  0.006530  0.957332  True    0.000698
13  2017-12-06  0.027149  0.006937  0.965914  True    0.001450
14  2017-12-07  0.025533  0.003055  0.971412  False  -0.004224
15  2017-12-08  0.027692  0.014906  0.957402  True    0.013405
16  2017-12-09  0.032367  0.009993  0.957640  True    0.001524
17  2017-12-10  0.030428  0.012496  0.957075  False  -0.012808
18  2017-12-11  0.016540  0.019283  0.964177  False  -0.008841
19  2017-12-12  0.034233  0.004400  0.961367  False  -0.001032
20  2017-12-13  0.034269  0.011106  0.954625  True    0.009678
21  2017-12-14  0.016683  0.007572  0.975745  True    0.009753
22  2017-12-15  0.026085  0.015138  0.958777  False  -0.008937
23  2017-12-16  0.032279  0.008296  0.959425  False  -0.003340
24  2017-12-17  0.022638  0.009032  0.968330  True    0.003857
25  2017-12-18  0.011791  0.010313  0.977896  False  -0.006175
26  2017-12-19  0.035594  0.009192  0.955214  False  -0.012999
27  2017-12-20  0.013533  0.015754  0.970714  True    0.010843
28  2017-12-21  0.030725  0.015356  0.953919  False  -0.001092
29  2017-12-22  0.025735  0.006719  0.967546  True    0.008136
30  2017-12-23  0.025499  0.011376  0.963126  True    0.006258
31  2017-12-24  0.032689  0.005481  0.961829  True    0.001709
32  2017-12-25  0.025692  0.013902  0.960406  False  -0.003896
33  2017-12-26  0.030673  0.016235  0.953092  False  -0.010652
34  2017-12-27  0.029179  0.016312  0.954509  False  -0.008438
..         ...       ...       ...       ...    ...        ...
336 2018-10-25  0.024201  0.013946  0.961853  True    0.003001
337 2018-10-26  0.028671  0.013605  0.957723  False  -0.018922
338 2018-10-27  0.017403  0.009791  0.972806  False  -0.015221
339 2018-10-28  0.022726  0.015943  0.961331  False  -0.004942
340 2018-10-29  0.033058  0.018780  0.948162  False  -0.010705
341 2018-10-30  0.028622  0.012816  0.958562  False  -0.010830
342 2018-10-31  0.029680  0.012691  0.957629  True    0.031582
343 2018-11-01  0.020862  0.007892  0.971246  True    0.035858
344 2018-11-02  0.021444  0.007937  0.970619  False  -0.011631
345 2018-11-03  0.031407  0.010587  0.958007  True    0.003603
346 2018-11-04  0.019385  0.012577  0.968037  True    0.023368
347 2018-11-05  0.024189  0.006290  0.969521  False  -0.002611
348 2018-11-06  0.026134  0.005386  0.968480  False  -0.022124
349 2018-11-07  0.042512  0.012305  0.945182  True    0.022010
350 2018-11-08  0.028860  0.009176  0.961963  False  -0.023486
351 2018-11-09  0.019468  0.019619  0.960913  False  -0.029691
352 2018-11-10  0.018927  0.011028  0.970045  False  -0.012645
353 2018-11-11  0.027930  0.014027  0.958044  True    0.005327
354 2018-11-12  0.020473  0.019348  0.960179  True    0.006148
355 2018-11-13  0.021497  0.010296  0.968207  True    0.000856
356 2018-11-14  0.022716  0.011164  0.966120  False  -0.017422
357 2018-11-15  0.019131  0.012321  0.968548  False  -0.006108
358 2018-11-16  0.017392  0.015957  0.966651  False  -0.009956
359 2018-11-17  0.040714  0.005883  0.953403  False  -0.011557
360 2018-11-18  0.042310  0.016822  0.940868  False  -0.010662
361 2018-11-19  0.026826  0.015987  0.957187  False  -0.000686
362 2018-11-20  0.029168  0.018705  0.952127  True    0.004142
363 2018-11-21  0.039167  0.012391  0.948442  False  -0.025767
364 2018-11-22  0.035247  0.013922  0.950831  False  -0.013214
365 2018-11-23  0.017760  0.009944  0.972296  True    0.007881

[361 rows x 6 columns]

In [24]:
dataset.to_csv('dataset_final.csv')